body {
    background-color: rgb(213, 213, 213);
    margin-top: 40px;
}

.container {
    background-color: black;
    border: 10px solid rgb(75, 75, 75);
    border-radius: 10px;
    padding: 15px;
    width: 200px;
    margin: auto;
}

.red, .yellow, .green {
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin: auto;
}

.red {
    background-image: linear-gradient(red, rgb(255, 118, 129));
    border: 15px solid rgb(114, 0, 2);
    margin-bottom: 10px;
}

.yellow {
    background-image: linear-gradient(rgb(255, 234, 0), rgb(243, 255, 155));
    border: 15px solid rgb(160, 136, 3);
    margin-bottom: 10px;
}

.green {
    background-image: linear-gradient(rgb(0, 171, 0), rgb(124, 255, 76));
    border: 15px solid rgb(48, 102, 3);
}